@charset "utf-8";
main,article,header,nav{
    padding: 10px;
    margin: 5px;
border: 4px gray;
}
main{
    width: 80%;

}
article{
    background-color: green;
    display: grid;
grid-template-columns: auto auto;
}
@media screen and (max-width:400px){
    main{
        width: 100%;
    }
article{
    grid-template-columns: auto;
}
}