@charset "UTF-8"; 
main{
    width:80%;
    max-width:800px;
    margin:auto;
    padding:10px;
    background-color: cadetblue; 
 }

 article div{
    border: 5px solid black;
    margin: 10pt;
 }
 article div h3{
     color: red;
     font-style: italic;
 }

.nemlatszik{
    visibility: hidden;
}
.latszik{
    visibility: visible;
}

@media screen and (max-width: 400px) {
    ul li {
      width: 100%;
      
    }
    ul{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
  }